{% extends "politicians/base.html" %}
{% block content %}
<form style="width: 20%; margin: 0.5rem;" class="search-bar d-flex" method=POST action="{% url 'search-venues' %}">
  {% csrf_token %}
  <input class='form-control me-2' style="width: 15rem; max-width: 15rem;" type="search" placeholder="მოძებნეთ პოლიტიკოსი" aria-label="Search" name="searched">
  <button style="margin-left: 0.5rem;" class='btn btn-outline-success' type="submit">ძიება</button>
</form>
<table>
    <tr>
      <th>სახელი</th>
      <th>რეიტინგი</th>
      <th>აღწერა</th>
    </tr>
    {% for post in posts %}
    <tr>
            <td><a href="{% url 'politician-detail' post.id %}">{{ post.name }}</a></td>
            <td>{{ post.avg_rating|floatformat }} / 5 <span class="fa fa-star checked"></span></td>
            <td>{{ post.description|safe|truncatechars:"70"|linebreaks }}</td>
    </tr>
    {% endfor %}
</table>
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a style="margin-top: 0.5rem; margin-left: 0.2rem" class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">უკან</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a style="margin-top: 0.5rem; margin-left: 0.2rem" class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
      <a style="margin-top: 0.5rem; margin-left: 0.2rem" class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a style="margin-top: 0.5rem; margin-left: 0.2rem" class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">შემდეგი</a>
  {% endif %}
{% endif %}
{% endblock content %}