{% extends "politicians/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="width: 70%;" class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">პაროლის შეცვლა</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">შეცვლა</button>
            </div>
        </form>
    </div>
{% endblock content %}